.form-entry {
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
  margin: 5px;
}
.todo-list-container {
  padding-top: 10px;
  margin: 20px;
}
.todo-list-container li {
    margin-bottom: 10px;
}
